{% extends "_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ subject | human_readable_predicate }}</h2>

    <ul class="list-group">
        {% for triple in triples %}
        <li class="list-group-item d-flex align-items-center">
            <span class="flex-grow-1 me-5 d-flex flex-column justify-content-center p-3">
                <span title="{{triple['predicate']['value']}}">
                    <a href="{{ (triple['predicate']['value'] | split_ns)[0][:-1] }}#{{ triple['predicate']['value'] }}" target="_blank" alt="Definition of the property {{ triple['predicate']['value'] }}">
                        {{ triple['predicate']['value'] | human_readable_predicate }}
                        <i class="bi bi-question-circle ml-1"></i>
                    </a>
                </span>
                {% if triple['object']['value'] != triple['object']['value'] | human_readable_predicate %}
                    <span title="{{ triple['object']['value'] }}" class="object-value mt-4">
                        <a href="{{ (triple['object']['value'] | split_ns)[0][:-1] }}#{{ triple['object']['value'] }}" target="_blank" alt="Definition of the value {{ triple['object']['value'] }}">
                            {{ triple['object']['value'] | human_readable_predicate }}
                            <i class="bi bi-question-circle ml-1"></i>
                        </a>
                    </span>
                {% else %}
                    <span class="object-value mt-4">
                        <a href="{{url_for('show_triples', subject=triple['object']['value']|urlencode)}}" alt="">{{ triple['object']['value'] }}</a>
                    </span>
                {% endif %}
                <form class="edit-form d-none"
                    action="{{ url_for('update_triple', subject=subject, predicate=triple['predicate']['value']) }}"
                    method="post">
                    <input type="text" class="form-control my-4" name="new_value" value="{{ triple['object']['value'] }}">
                    <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary cancel-button">Cancel</button>
                    </div>
                </form>
            </span>
            <button class="btn btn-outline-secondary edit-button">
                <i class="bi bi-pencil-square"></i> <!-- Icona di modifica -->
            </button>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function () {
        function toggleEditForm(listItem) {
            const form = listItem.find('.edit-form');
            const valueSpan = listItem.find('.object-value');
            form.toggleClass('d-none');
            valueSpan.toggleClass('d-none');
        }

        $('.edit-button').click(function () {
            toggleEditForm($(this).closest('.list-group-item'));
        });

        $('.cancel-button').click(function () {
            toggleEditForm($(this).closest('.list-group-item'));
        });
    });
</script>
{% endblock %}